// See https://thefork.frontify.com/d/i5PsehYngfv1/foundations#/brand-compliance/color-palette
$body-background-color: rgb(247, 247, 247);
$family-primary: "Raleway", "Mier B", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

@import "../node_modules/bulma/bulma.sass";

.card {
  border-radius: 1rem;
  overflow: hidden;
}

.graph {
  @extend .card;
}

h1 + h2.subtitle {
  font-weight: lighter;
  text-transform: uppercase;
}

.node {
  &:hover {
    cursor: pointer;
  }
}

$ICON_SIZE: 2rem;
$DEFAULT_PADDING: 0.75rem;

.toggle-icon {
  display: inline-block;
  &-symbol {
    width: $ICON_SIZE;
    height: $ICON_SIZE;
    text-align: center;
    line-height: $ICON_SIZE;
  };
}

.tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-top: none;
}

.tree-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #333;
  background: white;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative;

  &--active {
    color: white;
    background: #179ed3;
    border-bottom: none;
  }

  &--focused {
    box-shadow: 0 0 5px 0 #222;
    z-index: 999;
  }
}

.search {
  padding: 1rem 1.5rem;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-top: none;
  width: 100%;
}

.method {
  width: 100%;
}

li.method .method-head {
  padding: 5px;
}

li.method:not(:last-child) .method-head {
  border-bottom: 1px solid #e1e1e1;
}

li.param:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

h3 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background: #ced6e0;
}
